<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>LogLet</servlet-name>
  <servlet-class>com.servlet.LogLet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>LogLet</servlet-name>
  <url-pattern>/LogLet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>RegLet</servlet-name>
  <servlet-class>com.servlet.RegLet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>RegLet</servlet-name>
  <url-pattern>/RegLet</url-pattern>
  </servlet-mapping>
     <servlet>
  <servlet-name>xzq</servlet-name>
  <servlet-class>com.servlet.Node_Show</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>xzq</servlet-name>
  <url-pattern>/xzq</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>xzq2</servlet-name>
  <servlet-class>com.servlet.User_Delete</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>xzq2</servlet-name>
  <url-pattern>/xzq2</url-pattern>
  </servlet-mapping>

   <servlet>
    <servlet-name>gasLet</servlet-name>
  <servlet-class>com.servlet.Gas_Real_Show</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>gasLet</servlet-name>
  <url-pattern>/gasLet</url-pattern>
  </servlet-mapping>
</web-app>



